-- CreateTable
CREATE TABLE "CadSession" (
    "id" TEXT NOT NULL,
    "prompt" TEXT NOT NULL,
    "fileName" TEXT,
    "pythonScript" TEXT,
    "parameters" JSONB,
    "featureMap" JSONB,
    "annotations" JSONB,
    "stlUrl" TEXT,
    "stepUrl" TEXT,
    "isShared" BOOLEAN NOT NULL DEFAULT false,
    "userId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "currentVersion" INTEGER NOT NULL DEFAULT 1,

    CONSTRAINT "CadSession_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CadIteration" (
    "id" TEXT NOT NULL,
    "sessionId" TEXT NOT NULL,
    "version" INTEGER NOT NULL,
    "prompt" TEXT,
    "source" TEXT NOT NULL DEFAULT 'prompt',
    "pythonScript" TEXT NOT NULL,
    "parameters" JSONB,
    "featureMap" JSONB,
    "annotations" JSONB,
    "stlUrl" TEXT,
    "stepUrl" TEXT,
    "dxfUrl" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "CadIteration_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "name" TEXT NOT NULL DEFAULT 'User',
    "password" TEXT NOT NULL DEFAULT '',
    "isAdmin" BOOLEAN NOT NULL DEFAULT false,
    "role" TEXT NOT NULL DEFAULT 'user',
    "tokenVersion" INTEGER NOT NULL DEFAULT 0,
    "updatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AuthSession" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expiresAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AuthSession_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ToolMaterial" (
    "id" TEXT NOT NULL,
    "material_code" TEXT NOT NULL,
    "material_name" TEXT NOT NULL,
    "description" TEXT,
    "recommended_workpiece_materials" TEXT[],
    "max_surface_speed" DOUBLE PRECISION NOT NULL,
    "default_feed_multiplier" DOUBLE PRECISION NOT NULL,
    "cost_factor" DOUBLE PRECISION NOT NULL,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ToolMaterial_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ToolCoating" (
    "id" TEXT NOT NULL,
    "coating_code" TEXT NOT NULL,
    "coating_name" TEXT NOT NULL,
    "description" TEXT,
    "recommended_materials" TEXT[],
    "surface_speed_multiplier" DOUBLE PRECISION NOT NULL,
    "wear_resistance_factor" DOUBLE PRECISION NOT NULL,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ToolCoating_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ToolHolder" (
    "id" TEXT NOT NULL,
    "holder_name" TEXT NOT NULL,
    "holder_type" TEXT NOT NULL,
    "description" TEXT,
    "max_rpm" INTEGER NOT NULL,
    "is_active" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "ToolHolder_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ToolDefinition" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "diameter" DOUBLE PRECISION NOT NULL,
    "flutes" INTEGER NOT NULL,
    "stickout" DOUBLE PRECISION NOT NULL,
    "manufacturer" TEXT,
    "material_id" TEXT NOT NULL,
    "coating_id" TEXT,
    "holder_id" TEXT,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ToolDefinition_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CuttingData" (
    "id" TEXT NOT NULL,
    "tool_material_id" TEXT NOT NULL,
    "coating_id" TEXT,
    "workpiece_material" TEXT NOT NULL,
    "surface_speed" DOUBLE PRECISION NOT NULL,
    "feed_per_tooth" DOUBLE PRECISION NOT NULL,
    "plunge_multiplier" DOUBLE PRECISION NOT NULL,
    "rpm_formula" TEXT,
    "feed_formula" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CuttingData_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CamSetup" (
    "id" TEXT NOT NULL,
    "job_id" TEXT NOT NULL,
    "machine_id" TEXT,
    "material_id" TEXT,
    "stock_length" DOUBLE PRECISION,
    "stock_width" DOUBLE PRECISION,
    "stock_height" DOUBLE PRECISION,
    "wcs" TEXT,
    "origin" TEXT,
    "clearance_height" DOUBLE PRECISION,
    "retract_height" DOUBLE PRECISION,
    "feed_height" DOUBLE PRECISION,
    "setupSchemaVersion" INTEGER NOT NULL DEFAULT 1,
    "machineType" TEXT,
    "machineProfileId" TEXT,
    "controllerId" TEXT,
    "postProcessorId" TEXT,
    "internalUnits" TEXT NOT NULL DEFAULT 'mm',
    "displayUnits" TEXT NOT NULL DEFAULT 'mm',
    "postOutputUnits" TEXT NOT NULL DEFAULT 'mm',
    "modelHash" TEXT,
    "setupHash" TEXT,
    "validationStatus" TEXT NOT NULL DEFAULT 'incomplete',
    "requiresSetupReview" BOOLEAN NOT NULL DEFAULT true,
    "stockDefinition" JSONB,
    "originDefinition" JSONB,
    "workCoordinateSystem" JSONB,
    "orientation" JSONB,
    "modelToSetupTransform" JSONB,
    "modelPlacement" JSONB,
    "safetyHeights" JSONB,
    "workholding" JSONB,
    "tolerances" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CamSetup_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WorkpieceMaterial" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "grade" TEXT,
    "density_g_cm3" DOUBLE PRECISION NOT NULL,
    "cost_per_kg" DOUBLE PRECISION NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'USD',
    "active" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WorkpieceMaterial_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MachineProfile" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "hourly_rate" DOUBLE PRECISION NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'USD',
    "setup_rate" DOUBLE PRECISION,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "MachineProfile_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CostEstimate" (
    "id" TEXT NOT NULL,
    "camSetupId" TEXT NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'USD',
    "materialCost" DOUBLE PRECISION,
    "machiningCost" DOUBLE PRECISION,
    "setupCost" DOUBLE PRECISION,
    "totalCost" DOUBLE PRECISION,
    "stockVolumeMm3" DOUBLE PRECISION,
    "stockMassKg" DOUBLE PRECISION,
    "partVolumeMm3" DOUBLE PRECISION,
    "removedVolumeMm3" DOUBLE PRECISION,
    "totalMachiningTimeSec" DOUBLE PRECISION,
    "setupTimeSec" DOUBLE PRECISION,
    "materialNameSnapshot" TEXT,
    "materialGradeSnapshot" TEXT,
    "materialDensitySnapshot" DOUBLE PRECISION,
    "materialCostPerKgSnapshot" DOUBLE PRECISION,
    "machineNameSnapshot" TEXT,
    "machineHourlyRateSnapshot" DOUBLE PRECISION,
    "machineSetupRateSnapshot" DOUBLE PRECISION,
    "status" TEXT NOT NULL DEFAULT 'incomplete',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CostEstimate_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CamTool" (
    "id" TEXT NOT NULL,
    "setup_id" TEXT NOT NULL,
    "tool_number" INTEGER,
    "tool_name" TEXT,
    "tool_type" TEXT NOT NULL,
    "diameter_mm" DOUBLE PRECISION NOT NULL,
    "length_mm" DOUBLE PRECISION NOT NULL,
    "flute_count" INTEGER NOT NULL,
    "tool_material" TEXT,
    "coating" TEXT,
    "holder_type" TEXT,
    "h_offset" DOUBLE PRECISION,
    "d_offset" DOUBLE PRECISION,
    "length_offset_number" INTEGER,
    "diameter_offset_number" INTEGER,
    "stickout_mm" DOUBLE PRECISION,
    "material_compatibility" TEXT,

    CONSTRAINT "CamTool_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CamOperation" (
    "id" TEXT NOT NULL,
    "setup_id" TEXT NOT NULL,
    "feature_id" TEXT,
    "tool_id" TEXT NOT NULL,
    "operation_type" TEXT NOT NULL,
    "operation_order" INTEGER NOT NULL,
    "rpm" INTEGER,
    "feed_rate" DOUBLE PRECISION,
    "plunge_rate" DOUBLE PRECISION,
    "stepdown" DOUBLE PRECISION,
    "stepover" DOUBLE PRECISION,
    "coolant_mode" TEXT,
    "status" TEXT,
    "blocked_reason" TEXT,

    CONSTRAINT "CamOperation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ToolpathSegment" (
    "id" TEXT NOT NULL,
    "simulation_run_id" TEXT NOT NULL,
    "operation_id" TEXT,
    "tool_id" TEXT,
    "segment_index" INTEGER NOT NULL,
    "move_type" TEXT NOT NULL,
    "units" TEXT NOT NULL DEFAULT 'mm',
    "feed_mode" TEXT,
    "start_x" DOUBLE PRECISION NOT NULL,
    "start_y" DOUBLE PRECISION NOT NULL,
    "start_z" DOUBLE PRECISION NOT NULL,
    "start_i" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "start_j" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "start_k" DOUBLE PRECISION NOT NULL DEFAULT -1,
    "end_x" DOUBLE PRECISION NOT NULL,
    "end_y" DOUBLE PRECISION NOT NULL,
    "end_z" DOUBLE PRECISION NOT NULL,
    "end_i" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "end_j" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "end_k" DOUBLE PRECISION NOT NULL DEFAULT -1,
    "center_x" DOUBLE PRECISION,
    "center_y" DOUBLE PRECISION,
    "center_z" DOUBLE PRECISION,
    "radius" DOUBLE PRECISION,
    "feed_rate" DOUBLE PRECISION,
    "rpm" INTEGER,
    "length_mm" DOUBLE PRECISION NOT NULL,
    "estimated_time_sec" DOUBLE PRECISION NOT NULL,

    CONSTRAINT "ToolpathSegment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SimulationRun" (
    "id" TEXT NOT NULL,
    "job_id" TEXT NOT NULL,
    "setup_id" TEXT NOT NULL,
    "total_runtime_sec" DOUBLE PRECISION NOT NULL,
    "total_distance_mm" DOUBLE PRECISION NOT NULL,
    "cutting_distance_mm" DOUBLE PRECISION NOT NULL,
    "rapid_distance_mm" DOUBLE PRECISION NOT NULL,
    "status" TEXT NOT NULL,
    "validation_status" TEXT,
    "validation_errors" JSONB,
    "validation_warnings" JSONB,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "SimulationRun_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SimulationEvent" (
    "id" TEXT NOT NULL,
    "simulation_run_id" TEXT NOT NULL,
    "event_type" TEXT NOT NULL,
    "time_sec" DOUBLE PRECISION NOT NULL,
    "operation_id" TEXT,
    "tool_id" TEXT,
    "message" TEXT,

    CONSTRAINT "SimulationEvent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Tool" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "description" TEXT,
    "manufacturer" TEXT,
    "partNumber" TEXT,
    "unit" TEXT NOT NULL DEFAULT 'mm',
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Tool_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ToolGeometry" (
    "id" TEXT NOT NULL,
    "toolId" TEXT NOT NULL,
    "diameter" DOUBLE PRECISION NOT NULL,
    "cuttingDiameter" DOUBLE PRECISION,
    "cornerRadius" DOUBLE PRECISION,
    "ballRadius" DOUBLE PRECISION,
    "fluteLength" DOUBLE PRECISION NOT NULL,
    "cuttingLength" DOUBLE PRECISION,
    "overallLength" DOUBLE PRECISION NOT NULL,
    "shankDiameter" DOUBLE PRECISION,
    "neckDiameter" DOUBLE PRECISION,
    "neckLength" DOUBLE PRECISION,
    "fluteCount" INTEGER,
    "helixAngle" DOUBLE PRECISION,
    "taperAngle" DOUBLE PRECISION,
    "pointAngle" DOUBLE PRECISION,
    "includedAngle" DOUBLE PRECISION,
    "cuttingWidth" DOUBLE PRECISION,
    "insertCount" INTEGER,
    "leadAngle" DOUBLE PRECISION,
    "arborDiameter" DOUBLE PRECISION,
    "profilePointsJson" TEXT,

    CONSTRAINT "ToolGeometry_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ToolOffset" (
    "id" TEXT NOT NULL,
    "toolId" TEXT NOT NULL,
    "lengthOffset" INTEGER NOT NULL,
    "diameterOffset" INTEGER NOT NULL,
    "headNumber" INTEGER,
    "compensationType" TEXT,

    CONSTRAINT "ToolOffset_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Holder" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "gaugeLength" DOUBLE PRECISION NOT NULL,
    "diameter" DOUBLE PRECISION NOT NULL,
    "shankSize" DOUBLE PRECISION,
    "taperType" TEXT,
    "manufacturer" TEXT,
    "description" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Holder_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ToolAssembly" (
    "id" TEXT NOT NULL,
    "toolId" TEXT NOT NULL,
    "holderId" TEXT,
    "stickoutLength" DOUBLE PRECISION NOT NULL,
    "totalLength" DOUBLE PRECISION,
    "safeClearanceLength" DOUBLE PRECISION,

    CONSTRAINT "ToolAssembly_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ToolCuttingData" (
    "id" TEXT NOT NULL,
    "toolId" TEXT NOT NULL,
    "spindleRpm" INTEGER NOT NULL,
    "feedRate" DOUBLE PRECISION NOT NULL,
    "plungeRate" DOUBLE PRECISION NOT NULL,
    "retractRate" DOUBLE PRECISION NOT NULL,
    "coolant" TEXT NOT NULL,
    "stepdown" DOUBLE PRECISION,
    "stepover" DOUBLE PRECISION,
    "chipLoad" DOUBLE PRECISION,
    "surfaceSpeed" DOUBLE PRECISION,
    "feedPerTooth" DOUBLE PRECISION,

    CONSTRAINT "ToolCuttingData_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ToolCompatibility" (
    "id" TEXT NOT NULL,
    "toolId" TEXT NOT NULL,
    "compatibleOperationsJson" TEXT,
    "compatibleMachinesJson" TEXT,
    "compatibleMaterialsJson" TEXT,
    "unsupportedReason" TEXT,

    CONSTRAINT "ToolCompatibility_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "KnowledgeDocument" (
    "id" TEXT NOT NULL,
    "filename" TEXT NOT NULL,
    "version" TEXT NOT NULL DEFAULT '1.0',
    "pageCount" INTEGER NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'processing',
    "failedPages" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "KnowledgeDocument_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OntologyNode" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "parentId" TEXT,

    CONSTRAINT "OntologyNode_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EngineeringRule" (
    "id" TEXT NOT NULL,
    "rule_id" TEXT NOT NULL,
    "version" TEXT NOT NULL DEFAULT '1.0',
    "source_id" TEXT NOT NULL,
    "topic" TEXT,
    "confidence" DOUBLE PRECISION NOT NULL DEFAULT 1.0,
    "status" TEXT NOT NULL DEFAULT 'active',
    "reviewer" TEXT,
    "ontology_node_id" TEXT,
    "concept" TEXT,
    "description" TEXT NOT NULL,
    "input_signals" JSONB,
    "required_context" JSONB,
    "validation_rules" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "EngineeringRule_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PasswordResetRequest" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "rejectReason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "reviewedAt" TIMESTAMP(3),
    "reviewedBy" TEXT,
    "expiresAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PasswordResetRequest_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "CadSession_userId_idx" ON "CadSession"("userId");

-- CreateIndex
CREATE INDEX "CadIteration_sessionId_idx" ON "CadIteration"("sessionId");

-- CreateIndex
CREATE UNIQUE INDEX "CadIteration_sessionId_version_key" ON "CadIteration"("sessionId", "version");

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "AuthSession_token_key" ON "AuthSession"("token");

-- CreateIndex
CREATE INDEX "AuthSession_token_idx" ON "AuthSession"("token");

-- CreateIndex
CREATE INDEX "AuthSession_userId_idx" ON "AuthSession"("userId");

-- CreateIndex
CREATE INDEX "AuthSession_expiresAt_idx" ON "AuthSession"("expiresAt");

-- CreateIndex
CREATE UNIQUE INDEX "ToolMaterial_material_code_key" ON "ToolMaterial"("material_code");

-- CreateIndex
CREATE UNIQUE INDEX "ToolCoating_coating_code_key" ON "ToolCoating"("coating_code");

-- CreateIndex
CREATE UNIQUE INDEX "ToolHolder_holder_name_key" ON "ToolHolder"("holder_name");

-- CreateIndex
CREATE UNIQUE INDEX "CuttingData_tool_material_id_coating_id_workpiece_material_key" ON "CuttingData"("tool_material_id", "coating_id", "workpiece_material");

-- CreateIndex
CREATE UNIQUE INDEX "CostEstimate_camSetupId_key" ON "CostEstimate"("camSetupId");

-- CreateIndex
CREATE UNIQUE INDEX "Tool_name_key" ON "Tool"("name");

-- CreateIndex
CREATE UNIQUE INDEX "ToolGeometry_toolId_key" ON "ToolGeometry"("toolId");

-- CreateIndex
CREATE UNIQUE INDEX "ToolOffset_toolId_key" ON "ToolOffset"("toolId");

-- CreateIndex
CREATE UNIQUE INDEX "Holder_name_key" ON "Holder"("name");

-- CreateIndex
CREATE UNIQUE INDEX "ToolAssembly_toolId_key" ON "ToolAssembly"("toolId");

-- CreateIndex
CREATE UNIQUE INDEX "ToolCuttingData_toolId_key" ON "ToolCuttingData"("toolId");

-- CreateIndex
CREATE UNIQUE INDEX "ToolCompatibility_toolId_key" ON "ToolCompatibility"("toolId");

-- CreateIndex
CREATE UNIQUE INDEX "OntologyNode_name_key" ON "OntologyNode"("name");

-- CreateIndex
CREATE UNIQUE INDEX "EngineeringRule_rule_id_key" ON "EngineeringRule"("rule_id");

-- CreateIndex
CREATE INDEX "PasswordResetRequest_status_idx" ON "PasswordResetRequest"("status");

-- CreateIndex
CREATE INDEX "PasswordResetRequest_userId_idx" ON "PasswordResetRequest"("userId");

-- CreateIndex
CREATE INDEX "PasswordResetRequest_expiresAt_idx" ON "PasswordResetRequest"("expiresAt");

-- CreateIndex
CREATE UNIQUE INDEX "PasswordResetRequest_userId_status_key" ON "PasswordResetRequest"("userId", "status");

-- AddForeignKey
ALTER TABLE "CadSession" ADD CONSTRAINT "CadSession_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CadIteration" ADD CONSTRAINT "CadIteration_sessionId_fkey" FOREIGN KEY ("sessionId") REFERENCES "CadSession"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AuthSession" ADD CONSTRAINT "AuthSession_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ToolDefinition" ADD CONSTRAINT "ToolDefinition_coating_id_fkey" FOREIGN KEY ("coating_id") REFERENCES "ToolCoating"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ToolDefinition" ADD CONSTRAINT "ToolDefinition_holder_id_fkey" FOREIGN KEY ("holder_id") REFERENCES "ToolHolder"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ToolDefinition" ADD CONSTRAINT "ToolDefinition_material_id_fkey" FOREIGN KEY ("material_id") REFERENCES "ToolMaterial"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CuttingData" ADD CONSTRAINT "CuttingData_coating_id_fkey" FOREIGN KEY ("coating_id") REFERENCES "ToolCoating"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CuttingData" ADD CONSTRAINT "CuttingData_tool_material_id_fkey" FOREIGN KEY ("tool_material_id") REFERENCES "ToolMaterial"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CamSetup" ADD CONSTRAINT "CamSetup_job_id_fkey" FOREIGN KEY ("job_id") REFERENCES "CadSession"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CostEstimate" ADD CONSTRAINT "CostEstimate_camSetupId_fkey" FOREIGN KEY ("camSetupId") REFERENCES "CamSetup"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CamTool" ADD CONSTRAINT "CamTool_setup_id_fkey" FOREIGN KEY ("setup_id") REFERENCES "CamSetup"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CamOperation" ADD CONSTRAINT "CamOperation_setup_id_fkey" FOREIGN KEY ("setup_id") REFERENCES "CamSetup"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CamOperation" ADD CONSTRAINT "CamOperation_tool_id_fkey" FOREIGN KEY ("tool_id") REFERENCES "CamTool"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ToolpathSegment" ADD CONSTRAINT "ToolpathSegment_operation_id_fkey" FOREIGN KEY ("operation_id") REFERENCES "CamOperation"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ToolpathSegment" ADD CONSTRAINT "ToolpathSegment_simulation_run_id_fkey" FOREIGN KEY ("simulation_run_id") REFERENCES "SimulationRun"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ToolpathSegment" ADD CONSTRAINT "ToolpathSegment_tool_id_fkey" FOREIGN KEY ("tool_id") REFERENCES "CamTool"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SimulationRun" ADD CONSTRAINT "SimulationRun_job_id_fkey" FOREIGN KEY ("job_id") REFERENCES "CadSession"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SimulationRun" ADD CONSTRAINT "SimulationRun_setup_id_fkey" FOREIGN KEY ("setup_id") REFERENCES "CamSetup"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SimulationEvent" ADD CONSTRAINT "SimulationEvent_simulation_run_id_fkey" FOREIGN KEY ("simulation_run_id") REFERENCES "SimulationRun"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ToolGeometry" ADD CONSTRAINT "ToolGeometry_toolId_fkey" FOREIGN KEY ("toolId") REFERENCES "Tool"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ToolOffset" ADD CONSTRAINT "ToolOffset_toolId_fkey" FOREIGN KEY ("toolId") REFERENCES "Tool"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ToolAssembly" ADD CONSTRAINT "ToolAssembly_holderId_fkey" FOREIGN KEY ("holderId") REFERENCES "Holder"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ToolAssembly" ADD CONSTRAINT "ToolAssembly_toolId_fkey" FOREIGN KEY ("toolId") REFERENCES "Tool"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ToolCuttingData" ADD CONSTRAINT "ToolCuttingData_toolId_fkey" FOREIGN KEY ("toolId") REFERENCES "Tool"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ToolCompatibility" ADD CONSTRAINT "ToolCompatibility_toolId_fkey" FOREIGN KEY ("toolId") REFERENCES "Tool"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OntologyNode" ADD CONSTRAINT "OntologyNode_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES "OntologyNode"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EngineeringRule" ADD CONSTRAINT "EngineeringRule_ontology_node_id_fkey" FOREIGN KEY ("ontology_node_id") REFERENCES "OntologyNode"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EngineeringRule" ADD CONSTRAINT "EngineeringRule_source_id_fkey" FOREIGN KEY ("source_id") REFERENCES "KnowledgeDocument"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PasswordResetRequest" ADD CONSTRAINT "PasswordResetRequest_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

